{% extends '../../common/common.html' %}
{% block content %}
    <div class="container" style="max-width:1860px">
        <div class="container my-5 text-center" style="max-width:580px">
            <h1>Projects List</h1>
        </div>

        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="project_th">
                <th scope="col">
                    <h5 class="date-back">Project Name</h5>
                </th>
                <th scope="col">
                    <h5 class="date-back">K Project Name</h5>
                </th>
                <th scope="col">
                    <h5 class="date-back">Doker Image Name</h5>
                </th>
                <th scope="col">
                    <h5 class="date-back">gke Service Name</h5>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for project in projectList %}
                <tr class="project_th">
                    <th scope="col">
                        <p class="date-back">{{ project.projectName }}</p>
                    </th>
                    <th scope="col">
                        <p class="date-back">{{ project.kProjectName }}</p>
                    </th>
                    <th scope="col">
                        <p class="date-back">{{ project.dokerImageName }}</p>
                    </th>
                    <th scope="col">
                        <p class="date-back">{{ project.gkeServiceName }}</p>
                    </th>
                    <th scope="col">
                        <a href="{% url 'project_delete' project.pk %}" class="btn btn-outline-danger">DELETE</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}